:host {
    display: flex;
    height: 45px;
    width: 100%;
    background-color: var(--shadow-color);
    border-radius: 22.5px;
}
:host > * {
    margin: auto;
    display: flex;
    flex-direction: row;
}
:host button {
    margin: auto 10px;
}