:host {
    display: block;
    width: 100%;
}

#timeline {
    background-color: var(--accent-1);
    height: 35px;
    border-radius: 17.5px;
    transition: height 300ms;
}
#container {
    overflow: hidden;
    position: relative;
    top: -35px;
    height: 0;
    z-index: -1;
    transition: height 300ms;
}
:host:hover > #timeline {
    height: 70px;
    transition: height 300ms;
}

:host:hover > #container {
    transition: height 300ms;
    height: 90px;
    top: 0;
}