<nav><a href="/" class="home">home</a><a (click)="goToProject()">project</a></nav>
<div #container2 class="container" id="row2">
    <div #events id="events"></div>
</div>
<div #container class="container round" id="row3">
    <div #periods id="timelineBody"></div>
</div>
<div id="optionPanel">
    <input type="search" placeholder="Search...">
    <select>
        <option>all</option>
        <option>major</option>
    </select>
</div>
<event-popup></event-popup>
<div id="settings">
    <button #edit id="edit" class="bubble" (click)="toggleOptions()"></button>
    <button id="addEvent" class="bubble" (click)="addEvent()"></button>
</div>