<div #container2 class="container">
    <div #events id="events"></div>
</div>
<div #container class="container">
    <div #periods id="timelineBody"></div>
</div>
<div id="optionPanel">
    <input type="search" placeholder="Search...">
    <select>
        <option>all</option>
        <option>major</option>
    </select>
</div>
<event-popup></event-popup>
<div id="settings">
    <button #edit id="edit" class="bubble" (click)="toggleOptions()"></button>
    <button id="addEvent" class="bubble" (click)="addEvent()"></button>
</div>