<nav><a href="/" class="home"><img id="TwIcon" src="/assets/TwIcon.svg"></a><a (click)="goToProject()"><img id="returnIcon" src="/assets/returnIcon.svg" alt="Project">Return to project</a></nav>
<div #container2 class="container" id="row2">
    <div #events_ref id="events">
        <timeline-event *ngFor="let e of events" [data]="e" (clicked)="editEvent($event)"></timeline-event>
    </div>
</div>
<div #container class="container round" id="row3">
    <div #periods_ref id="timelineBody">
        <timeline-period *ngFor="let p of periods" [data]="p" (clicked)="editPeriod($event)"></timeline-period>
    </div>
</div>
<event-popup *ngIf="event_visible" (hide)="this.event_visible = false" [data]="event_data"></event-popup>
<period-popup *ngIf="period_visible" (hide)="this.period_visible = false" [data]="period_data"></period-popup>
<option-popup *ngIf="option_visible" (hide)="this.option_visible = false"></option-popup>
<div id="settings">
    <button id="edit" class="bubble" (click)="toggleOptions()"></button>
    <button id="add" class="bubble" (click)="showButtons()"></button>
    <div id="additionalButtons">
        <button id="eventButton" (click)="addEvent()" [class.show]="new_choice_visible">add event</button>
        <button id="periodButton" (click)="addPeriod()" [class.show]="new_choice_visible">add period</button>
    </div>
</div>
