<div>
    <p>the action you are trying to do requires a password</p>
    <form ngNativeValidate>
        <div>
            <input id="password" type="password" placeholder="Password to confirm" name="password" required ngModel>
            <div>
                <i id="togglePassword" class="eye" (click)="togglePassword()"></i>
            </div>
        </div>
        <div class="confirmCancel">
            <button type="submit">confirm</button>
            <button type="submit">cancel</button>
        </div>
    </form>
</div>

