<div id="upper">
    <span class="title">project name</span>
</div>
<div id="lower">
    <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac finibus ex. Donec imperdiet, eros vitae ornare aliquet, orci quam gravida libero, et sollicitudin lacus felis sit amet tortor. Donec commodo turpis dolor, ut maximus arcu scelerisque ac. Morbi lobortis tempor lobortis. Morbi non egestas neque, eget cursus nulla. Cras varius mi sapien, a blandit odio vestibulum vitae. Nullam ornare ipsum at nunc ullamcorper, sit amet rutrum massa bibendum. Sed semper odio quis erat placerat, quis pretium libero pretium. Nulla sodales imperdiet sem ac congue. </span>
</div>