<div id="topBar">
    <img src="assets/textLogo.svg">
    <div>
        <input type="search" placeholder="Search..." #searchInput (keydown.enter)="onSearchSubmit($event, searchInput.value)">

        <select class="input">
            <option value="latest">latest</option>
            <option value="popular">most popular</option>
            <option value="oldest">oldest</option>
        </select>

        <button (click)="goToPublic()" *ngIf="!is_public">browse public projects</button>
        <button (click)="goToMine()" *ngIf="canGoMine()">my projects</button>
    </div>
</div>
<div id="gridContainer">
    <div #projects id="projectGrid">
        <project-small *ngFor="let p of projects_list" [name_text]="p.name" [description_text]="p.description" [project_id]="p.id"></project-small>
        <div #addProject id="addProject" *ngIf="!is_public"><project-add></project-add><project-import></project-import></div>
    </div>
</div>