:host {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: fit-content;
}

#topBar > img {
    height: 85%;
    margin: auto 40px;
    width: 300px;
}

#projectsSelectors {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#projectsSelectors > * {
    margin: 5px 25px;
    
}

#projectsSelectors select {
  background-color: #E6E6E6;
  border-radius: 4px;
  padding: 8px 24px 8px 10px;
  font-weight: normal;
  max-width: 100%;
}



#projectGrid {
    //functionnal
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 15px;
}