<div id="topBar">
    <img src="assets/textLogo.svg">
    <div>
        <input type="search" placeholder="Search..." #searchInput (keydown.enter)="onSearchSubmit($event, searchInput.value)" (input)="onSearchInputChange($event)">

        <select class="input">
            <option value="latest">latest</option>
            <option value="popular">most popular</option>
            <option value="oldest">oldest</option>
        </select>
    </div>
</div>
<div id="gridContainer">
    <div #projects id="projectGrid">
        <div #addProject id="addProject"><project-add></project-add><project-import></project-import></div>
    </div>
</div>