#topBar > img {
    //cosmetic
    height: 85%;
    margin: auto 40px;
    width: 300px;
}
#topBar > div > * {margin: 0 5px;}
#topBar > div {
    //functionnal
    display: flex;
    flex-direction: row;
}
#addProject{
    //funtionnal
    height: 100%;

    //cosmetic
    background-color: var(--shadow-color);
    align-content: center;
    display: flex;
    justify-content: center;
}

#importProj > button > img {
    width: 100%;
    height: 100%;
}

#gridContainer {
    //functionnal do not change
    width: 100vw;
    height: calc(100vh - var(--topbar-height));
    overflow: scroll;
}

#projectGrid {
    //functionnal
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 25px 15px 0 15px;
}
#projectGrid > * {
    //functionnal
    overflow: hidden;

    //cosmetic
    border-radius: 15px;
    margin: 10px;
    height: 25vh;
    box-shadow: var(--shadow);
}