<div id="topBar">
    <img src="assets/textLogo.svg">
    <div>
        <search-bar></search-bar>
        <select class="input">
            <option value="latest">latest</option>
            <option value="popular">most popular</option>
            <option value="oldest">oldest</option>
        </select>
        <button class="input">My Projects</button>
    </div>
</div>
<div id="gridContainer">
    <div #projects id="projectGrid">
        <div #addProject><project-add></project-add></div>
    </div>
</div>