:host {
    display: flex;
}
:host > button {
    align-self: center;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--accent-1);
}

:host > button > img {
    width: 90%;
    height: 90%;
}