:host {
    height: 10px;
    background-color: var(--accent-1);
    margin: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 20px;
}
