:host {
    display: block;
    background-color: var(--accent-1);
    margin: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 20px;
}

:host p {
    color: #fff;
    font-size: 18;
}

:host h2 {
    color: #fff;
    font-size: 20;
}
