:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host > h1 {text-align: center;}
:host > div {
    width: fit-content;
    height: fit-content;
    background-color: var(--accent-2);
    padding: 50px 45px;
    border-radius: 20px;
}

:host form {display: flex;flex-direction: column;}
:host form > * {margin-top: 25px;}
:host form > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
:host form > span > * {margin-left: 15px;}
:host form > p {text-align: center;}

:host form > div > input {width: 100%;}
:host form > div > div {width: 0;overflow: visible;}
:host form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.eye {
    position: relative;
    top: 2.5px;
    left: -35px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("/assets/eyeOpen.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.eye-slash {
    background-image: url("/assets/eyeClosed.svg");
}