<div class="sign-in-container">
    <div class="form-box">
        <h1 id="title">Sign Up to TimeWeaver</h1>
        <form>
            <div class="input-group">
                <div class="input-field" id="nameField">
                    <input class="border-input" type="text" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <input class="border-input" type="email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <input class="border-input" id="tmp" type="password" placeholder="Password" required>
                </div>
                <div class="input-field">
                    <input class="border-input" type="password confirmation" placeholder="Password confirmation" required>
                </div>
                <p>You already have account ?<a href="#"> Log in</a></p>
            </div>
            <div class="btn-field">
                <button type="button" id="signupBtn">Sign up</button>
            </div>
        </form>
    </div>
</div>