<button id="userIcon" (click)="userIconClick()" *ngIf="is_connected"><img [src]="url_image"></button>
<button id="userConnect" (click)="userConnectClick()" *ngIf="!is_connected"><img src="/assets/connectIcon.svg"></button>
<div #userPanel id="userPanel">
    <span><span #name id="name"></span><span #tag id="tag"></span></span>
    <i></i>
    <a href="/"><img src="/assets/homeIcon.svg" alt="Home">Home</a>
    <a href="/profile"><img src="/assets/editProfile.svg" alt="Profile">My profile</a>
    <a href="#"><img src="/assets/premiumIcon.svg" alt="Premium">Premium</a>
    <hr>
    <button (click)="userDisconnectClick()">Log out</button>
</div>