<button id="userIcon" class="hidden" (click)="userIconClick()"></button>
<button id="userConnect" (click)="userConnectClick()"><img src="/assets/connectIcon.svg"></button>
<div #userPanel id="userPanel">
    <p>username tag, premium</p>
    <span><span #owner id="owner"></span><span #tag id="tag"></span></span>
    <i></i>
    <a href="/"><img src="/assets/homeIcon.svg" alt="Home">Home</a>
    <a href="/profile"><img src="/assets/editProfile.svg" alt="Profile">My profile</a>
    <a href="#"><img src="/assets/premiumIcon.svg" alt="Premium">Upgrade to premium</a>
    <hr>
    <button (click)="userDisconnectClick()">Log out</button>
</div>