$iconSize: 55px;
$panelWidth: 25vw;

:host {
    position: fixed;
    right: 20px;
    top: 20px;
}

:host > button {
    height: $iconSize;
    width: $iconSize;
    border-radius: 50%;
    cursor: pointer;
}

#userIcon {
    background-image: url('https://placehold.co/400x400');
    background-size: contain;
}
#userConnect {background-color: transparent;border: none;}
#userConnect > img {height: 75%;}
#userPanel > * { width: 90%;margin: 0 15px;}
#userPanel {
    position: fixed;
    top: var(--topbar-height);
    right: -$panelWidth;
    background-color: var(--background-3);
    width: $panelWidth;
    height: fit-content;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    border-radius: 0 0 0 25px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.panel_off {animation-name: 'actions-hidden';}
@keyframes actions-hidden {
    from {right: 0;}
    to {right: -$panelWidth;}
}
.panel_on {animation-name: 'actions-visible';}
@keyframes actions-visible {
    from {right: -$panelWidth;}
    to {right: 0;}
}