<div id="topBar">
    <a href="/" class="home">home</a>
    <div id="titleContainer">
        <h1 #title id="title"></h1>
        <span><span #owner id="owner"></span><span #tag id="tag"></span></span>
    </div>
    <div id="options">
        <button #export id="export" (click)="exportProject()">Export Project</button>
        <button #del id="del" (click)="clickDelete()">delete project</button>
        <input type="checkbox" #visibilityToggle (click)="clickPublic()" id="switch"><label for="switch"></label>
    </div>
</div>
<div id="main">
    <edit-button (childEvent)="edit($event)"></edit-button>
    <div #description id="description">
    </div>
    <div #timelines id="timelines"></div>
    <timeline-add></timeline-add>
    <div #text id="text"></div>
</div>
<div id="sideBar">
    <input type="search" placeholder="Search...">
    <div #events id="events_list">
    </div>
</div>
