<div class="topbar-project">
    <h1>Project name</h1>
    <h2>Search bar</h2>
</div>
<div class="split left">
    <div class="timelines">
        
    </div>
</div>
<div class="split right">
    <div class="events">
        <div>
            <h2>event name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis quis purus ac volutpat. In lectus velit, 
            lacinia vitae felis eget, tristique vehicula lacus.
            </p>
        </div>
        <div>
            <h2>event name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis quis purus ac volutpat. In lectus velit, 
                lacinia vitae felis eget, tristique vehicula lacus.
            </p>
        </div>
        <div>
            <h2>event name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis quis purus ac volutpat. In lectus velit, 
                lacinia vitae felis eget, tristique vehicula lacus.
            </p>
        </div>
        <div id="projectEvents"><router-outlet name="project-events"></router-outlet></div>
    </div>
</div>