<div id="topBar">
    <div id="titleCreator">
        <h1 #title id="projectTitle">project title here</h1>
        <span #owner id="creatorName">creator name here</span>
    </div>
    <div id="sliderDelete">
        <delete-button></delete-button>
        <slider-button></slider-button>
    </div>
</div>
<div id="main">
    <button #export id="export" (click)="exportProject()">Export project</button>
    <edit-button (childEvent)="edit($event)"></edit-button>
    <div #description id="description">
        # test text
        - test
        - test2
    </div>
    <div #timelines id="timelines">
        <project-timeline></project-timeline>
    </div>
    <div #text id="text"></div>
</div>
<div id="sideBar">
    <search-bar></search-bar>
    <div #events id="events_list">
        <project-event></project-event>
    </div>
</div>
