:host {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: var(--topbar-height) calc(100vh - var(--topbar-height));
  grid-template-columns: 3fr 1fr;
}

#topBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / 3;
}

#topBar > #projectTitle > h1 {
  font-size: 30px;
  text-align: center;
  margin: 0; /* remove default margin */
}

#topBar > #creatorName > h2 {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 0; /* add margin-top */
}


#sideBar {
  grid-row: 2;
  grid-column: 2;
  overflow-y: scroll;
}

#main {
  grid-row: 2;
  grid-column: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main > #description {
  grid-row: 2;
  grid-column: 1;
  align-self: flex-start;
  margin-left: 35px;
}

#timelines {
  width: 95%;
  border-top: 1px solid white;
}

#timelines project-timeline {
  margin-top: 25px;
}

#sideBar{
  background-color: var(--background-shadow-1);
  overflow-y: scroll;;
}


#sideBar search-bar {
  margin-top: 20px;
  margin-left : 30px ;
  margin-right : 220px ;
}


div[contenteditable="true"] {
  background-color: purple;
}