<h1>Sign In to TimeWeaver</h1>
<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" ngNativeValidate>
    <input type="email" placeholder="Email or Username" name="email" required ngModel>
    <input type="password" placeholder="Password" name="password" required ngModel>
    <p>You don't have account <a routerLink="/sign-up">Create it!</a></p>
    <input type="checkbox" id="remember" name="remember">
    <label for="remember">stay signed in</label>
    <button type="submit">Sign in</button>
</form>
