:host {
    display: flex;
    flex-direction: row;
    height: 0;
    overflow: visible;
}

:host > #edit {width: 40px;}
:host > button {
    height: 40px;
    width: fit-content;
    border-radius: 20px;
    background-size: 60%;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 13pt;
    font-weight: bolder;
    padding: 0 15px;
}

#edit {
    background-image: url("/assets/editIcon.svg");
    border-color: var(--accent-2);
    background-color: var(--accent-1);
}

#save {
    display: none;
    border-color: var(--accent-2);
    background-color: var(--green);
}

#cancel {
    display: none;
    border-color: var(--accent-2);
    background-color: var(--red);
}