:host {
    display: flex;
    flex-direction: row-reverse;
    height: 0;
    width: 45px;
    overflow: visible;
}

:host > #edit {width: 35px;height: 35px;}
:host > button {
    height: 35px;
    width: fit-content;
    border-radius: 20px;
    background-size: 60%;
    margin-left: 5px;
    padding: 0 15px;
}
#edit {
    background-image: url("/assets/editIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#save:hover {background-color: var(--green-hover);}
#save {
    display: none;
    background-color: var(--green);
}

#cancel:hover {background-color: var(--red-hover);}
#cancel {
    display: none;
    background-color: var(--red);
}