:root {
//background color by order of importance (page is 1)
--background-1: #040405;
--background-2: #202634;
--background-3: #106693;

--background-shadow-1: #0404056f;
--background-shadow-2: #20263470;
--background-shadow-3: #1065936b;

//the accent color of the site (from dak to light)
--accent-1: #5e8f80;
--accent-2: #69bca3;
--accent-3: #71EAC6;

--accent-shadow-1: ;
--accent-shadow-2: ;
--accent-shadow-3: ;

//general purpose color
--red: red;
--green: lime; 
--purple: magenta;
--orange: orange;
--cyan: cyan;
--white: white;

//text
--text-color: #ffffff;
--text-shadow: ;
}

html {
    //general text
    color: var(--text-color);
    font-family: 'DejaVu Sans Mono', sans-serif;
    font-size: 12pt;
}

body {
    background-color: var(--background-1);
    height: fit-content;
    width: inherit;
    margin: 0;
    padding: 0;
}



.text {
    font-size: 12pt;
}

.title {
    font-size: 15pt;
    font-weight: bold;
}