:root {
//background color by order of importance (page is 1)
--background-1: #4B4453;
--background-2: #7B7485;
--background-3: ;

--background-shadow-1: ;
--background-shadow-2: ;
--background-shadow-3: ;

//the accent color of the site (from dak to light)
--accent-1: #391B77;
--accent-2: ;
--accent-3: ;

--accent-shadow-1: ;
--accent-shadow-2: ;
--accent-shadow-3: ;

//general purpose color
--red: red;
--green: ; 
--purple: ; 
--orange: ;
--cyan: ;

//text
--text-color: #ffffff;
--text-shadow: ;
}

html {
    //general text
    color: var(--text-color);
    font-family: 'DejaVu Sans Mono', sans-serif;
    font-size: 12pt;
}

body {
    background-color: var(--background-1);
    height: fit-content;
    width: inherit;
    margin: 0;
    padding: 0;
}

.text {
    font-size: 12pt;
}

.title {
    font-size: 15pt;
    font-weight: bold;
}