:root {
    --background-1: #413b47;
    --background-2: #3d3a41;
    --background-3: #3d3a41;
    --accent-1: #5f2a87;
    // --accent-2: #71399b;
    --accent-2: #17121f;
    --accent-1-hover: #8248ad;

    --shadow-color: rgba(0, 0, 0, 0.2);
    --shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

    --red: rgb(197, 76, 76);
    --green: rgb(59, 161, 59);

    //text
    --text-color: hsl(0, 0%, 97%);
    --text-color-2: hsl(0, 0%, 50%);


    //dimentions
    --topbar-height: 100px
}

html {
    //general text
    color: var(--text-color);
    font-family: 'Tahoma', sans-serif;
    font-size: 13pt;
}

body {
    background-color: var(--background-1);
    margin: 0;
}

#topBar {
    //functionnal
    width: 100%;
    height: var(--topbar-height);
    display: flex;
    align-items: center;

    //visual
    background-color: var(--accent-2);
}

.hidden {
    display: none;
}

.bubble:hover {
    background-color: var(--accent-1-hover);
}

.bubble {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    background-color: var(--accent-1);
    cursor: pointer;
}

input, button, select, label {
    height: 35px;
    border-radius: 17.5px;
    background-color: var(--accent-1);
    outline: none;
    border: none;
    color: var(--text-color);
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    padding: 0 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}

input:hover,
button:hover,
select:hover {
    background-color: var(--accent-1-hover);
}

input[type=search] {
    text-align: left;
    padding-left: 40px;
    background-image: url("assets/searchIcon.svg");
    background-position: -89% center;
    background-size: 70% 70%;
    cursor: text;
}

input[type=checkbox] {height: 0;width: 0;visibility: hidden;position: absolute;}
input:checked+label {background: var(--accent-1);}
input:checked+label:after {left: calc(100% - 2.5px);transform: translateX(-100%);}
label:active:after {width: 50px;}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    background: var(--background-2);
    display: block;
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}
.add_button {
    background-image: url("/assets/plusIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}