:host {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: fit-content;
}

#topBar {
    //functionnal
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;

    //visual
    background-color: var(--accent-3);
}

#topBar > img {
    height: 85%;
    margin: 0 20px;
}

#projectsSelectors {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#projectsSelectors > * {
    margin: 5px 15px;
}

#projectGrid {
    //functionnal
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 15px;
}