<div id="topBar">
    <img src="assets/textLogo.svg">
    <div id="searchbar">
        <img src="assets/searchIcon.svg">
        <input type="text" placeholder="Search...">
    </div>
</div>
<div id="projectsSelectors">
    <span>Sort By:</span>
    <select>
        <option>Popularity</option>
        <option>Newest</option>
        <option>TBD</option>
    </select>



</div>
<div id="projectGrid">
    <project-small></project-small>
    <project-small></project-small>
    <project-small></project-small>
    <project-small></project-small>
</div>