<div id="topBar">
    <img src="https://s1.qwant.com/thumbr/0x380/9/4/3ff5ebd9144388d0e91cbb45608d609f56bf90e2e23406f3e14cd568deafe5/rails-logo-png-transparent.png?u=https%3A%2F%2Fcdn.freebiesupply.com%2Flogos%2Flarge%2F2x%2Frails-logo-png-transparent.png&q=0&b=1&p=0&a=0">
    <input type="button">
    <input type="text">
</div>
<div id="projectsSelectors">
    <span>Sort By:</span>
    <select>
        <option>Popularity</option>
        <option>Newest</option>
        <option>TBD</option>
    </select>
</div>
<div id="projectGrid">
    <project-small></project-small>
    <project-small></project-small>
    <project-small></project-small>
    <project-small></project-small>
</div>