:host {
    height: 30px;
    border-color: var(--accent-2);
    background-color: var(--accent-1);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
  
:host > img {
    margin: 0 5px;
    height: 20px;
    fill: var(--text-color);
}
  
:host > input {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
  
:host > input:focus {
    outline: none;
}