:host {
    display: flex;
    position: relative;
}

:host > button {
    height: 40px;
    width: 40px;
    border-radius: 25%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


#edit {
    height: 40px;
    width: 40px;
    border-radius: 25%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/optionIcon.svg");
    border-color: var(--accent-2);
    background-color: var(--accent-1);
    cursor: pointer;
  }

#edit:hover {
    cursor: pointer;
}


#buttonOption {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: #282a37;
    padding: 20px;
    border-radius: 10px;
  }
  