input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
}
  
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #282a37;
    display: block;
    border-radius: 25px;
    position: relative;
}
  
label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 22px;
    transition: 0.3s;
}
  
input:checked + label {
    background: var(--accent-1);
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 32px;
}
  
input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}