:host {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
    bottom: 0;
}

:host > div#img {
    background-color: var(--text-color);
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
:host span {
    display: inline;
    margin: 0 0 -20px 0;
    transform-origin: 0 0;
    rotate: -45deg;
    height: 25px;
    width: fit-content;
    cursor: pointer;
}