:host {
    height: auto;
    width: auto;
}

.eventIcon {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: var(--white);
    margin-top: -21px;
}

.eventBar {
    width: 3px;
    height: var(--timeline-height);
    background-color: var(--white);
    justify-self: center;
    margin-left: 9px;
}

.eventText {
    width: 20vw;
}