<div class="container"><button (click)="quit()"><img src="assets/plusIcon.svg"></button></div>
<edit-button (childEvent)="edit($event)"></edit-button>
<input type="text" [class.editing]="can_edit" [(ngModel)]="name">
<div id="startPeriod">
    <P>From</P>
    <input type="number" max="1000" placeholder="YYYY" name="year" class="w4" [class.editing]="can_edit">/
    <input type="number" min="1" placeholder="MM" name="month" class="w2" [class.editing]="can_edit">/
    <input type="number" min="1" placeholder="DD" name="day" class="w2" [class.editing]="can_edit">
</div>
<div id="endPeriod">
    <P>To</P>
    <input type="number" max="1000" placeholder="YYYY" name="year" class="w4" [class.editing]="can_edit">/
    <input type="number" min="1" placeholder="MM" name="month" class="w2" [class.editing]="can_edit">/
    <input type="number" min="1" placeholder="DD" name="day" class="w2" [class.editing]="can_edit">
</div>
<p>Period color:</p>
<div class="theme-colors" #colorDivs>
    <div class="color" style="background-color:#ff3737"></div>
    <div class="color" style="background-color:#ff8337;"></div>
    <div class="color" style="background-color:#c29867;"></div>
    <div class="color" style="background-color:#ffe272;"></div>
    <div class="color" style="background-color:#9de16f;"></div>
    <div class="color" style="background-color:#36d8b7;"></div>
    <div class="color" style="background-color:#53afff;"></div>
    <div class="color" style="background-color:#212e4a;"></div>
    <div class="color" style="background-color:#de6fff;"></div>
    <div class="color" style="background-color:#ff74bc;"></div>
    <div class="color" style="background-color:#bccdde;"></div>
    <div class="color" style="background-color:#222831;"></div>
</div>
<div class="container2"><textarea id="periodDesc" type="text" [class.editing]="can_edit" [(ngModel)]="description"></textarea></div>
  