<div class="container"><button (click)="quit()"><img src="assets/plusIcon.svg"></button></div>
<edit-button #edit_button (childEvent)="edit($event)" *ngIf="!write"></edit-button>
<input type="text" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="name">
<div id="startPeriod">
    <P>From</P>
    <input type="number" class="w4" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="start.y">/
    <input type="number" class="w2" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="start.m">/
    <input type="number" class="w2" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="start.d">
</div>
<div id="endPeriod">
    <P>To</P>
    <input type="number" class="w4" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="end.y">/
    <input type="number" class="w2" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="end.m">/
    <input type="number" class="w2" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="end.d">
</div>
<p>Period color:</p>
<div class="theme-colors" #colorDivs>
    <div *ngFor="let c of colors" class="color" [style.backgroundColor]="c" (click)="color = can_edit ? c : color"></div>
</div>
<div class="container2"><textarea id="periodDesc" type="text" [disabled]="!can_edit" [class.editing]="can_edit" [(ngModel)]="description"></textarea></div>
<button class="action_button" *ngIf="write" (click)="edit('save')">validate</button><button class="action_button" *ngIf="write" (click)="delete();quit();">cancel</button><button class="action_button" *ngIf="!write && can_edit" (click)="delete();quit();">delete</button>
